<h1 mat-dialog-title class="title-modal">{{ 'Edit ' + title | titlecase }}</h1>
<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div mat-dialog-content class="form-group">

        <ng-container *ngFor="let e of formControlNames">

            <mat-form-field *ngIf="e[1] == 'select'; else textarea" appearance="fill">
                <mat-label>{{ e[0] }}</mat-label>
                <mat-select formControlName="{{e[0]}}" [compareWith]="compareFn">
                    <mat-option *ngFor="let re of data.relation" [value]="re">{{re.name}}</mat-option>
                    
                </mat-select>
            </mat-form-field>

            <ng-template #textarea>
                <mat-form-field *ngIf="e[1] == 'textarea'; else image" appearance="fill">
                    <mat-label>{{ e[0] }}</mat-label>
                    <textarea matInput formControlName="{{e[0]}}" placeholder="Write any Text"></textarea>
                </mat-form-field>
            </ng-template>

            <ng-template #image>
                <span *ngIf="e[1] == 'image'; else input">
                    <button mat-stroked-button type="button" (click)="fileInput.click()">
                        Choose File
                    </button>
                </span>
            </ng-template>

            <ng-template #input>
                <mat-form-field appearance="fill">
                    <mat-label>{{e[0]}}</mat-label>
                    <input matInput type="{{e[1]}}" formControlName="{{e[0]}}">
                    <mat-error *ngIf="dataElement(e[0])">{{ e[0] == 'email' ? getErrorMessageEmail():getErrorMessageRequired() }}</mat-error>
                </mat-form-field>
            </ng-template>
            
        </ng-container>

    </div>
    <div mat-dialog-actions class="modal-footer">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" type="submit" cdkFocusInitial>Edit</button>
    </div>
</form>

<input hidden type="file" #fileInput (change)="onFileSelected($event)">