.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 45%));
    gap: 4em;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.text{
    text-align: center;
    display: grid;
    place-items: center
}

.title{
    font-size: xx-large;
    font-weight: bolder;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

img{
    width: 400px;
    height: 300px;
}