@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    max-width: 2000px;
    margin: auto;
}

ul{
    list-style: none;
}